<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="css\main.css">
</head>
<body>
    <header class="mainHeader">
        <nav class="mainHeader-nav">
            <ul class="mainHeader-nav__item-list">
                <li class="mainHeader-nav__item"><a href="/">Shop</a></li>
                <li class="mainHeader-nav__item"><a href="/add-product">Add Products</a></li>
                <li class="mainHeader-nav__item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <form class="formMainBlock" action="/success" method="POST">
            <p class="formBlock">
                <label  class="formBlock-label" for="name">Name:</label>
                <input class="formBlock-input" type="text" name="name" id="name" placeholder="Your Name">
            </p>
            <p class="formBlock">
                <label class="formBlock-label" for="email">Email Id:</label>
                <input class="formBlock-input" type="text" name="email" id="email" placeholder="Item size">
            </p>
            <p class="formBlock">
                <button class="formBlock-button" type="submit">Send</button>
            </p>
        </form>
    </div>
    
</body>
</html>